:root {
    --coral: #F05D5E;
    --teal: #0F7173;
    --light: #E7ECEF;
    --white: #ffffff;
    --dark: #272932;
    --camel: #D8A47F;
    --bluemsh : #4174c0;
    --reddy : #d61010;
    --pinky :#eb30b3;

}

body {

    background-color: var(--white);
    
    justify-content: center;
    font-size:1rem;

}

head{

    background-color: var(--bluemsh);

    justify-content: center;
    font-size:1rem;

}

header{

    background-color: var(--light);

    justify-content: center;
    font-size:1rem;

}


article{

    background-color: var(--reddy);

    text-align: center;
    font-size: 1.0rem;
    font-size-adjust: 0.45;

    justify-content: center;

}

li{
    background-color: var(--camel);
    padding-inline-start: 1em;
    display:flex-start;
    justify-content:center;
    text-align: left;
    font-size: 1.05em;

}
h1 {
    background-color: var(--coral);
    font-size: 2.0rem;
    font-size-adjust: 0.45;

    justify-content: center;
}

h2 {
    background-color: var(--camel);
    font-size: 1.5rem;
    font-size-adjust: 0.45;

    justify-content: center;
    
}

p {
    background-color: var(--teal);
    min-width: 25%;
    text-align: left;

    
}


img {

    justify-content: center;
    height: auto;
    width: 70%;
}

footer{
    background-color: var(--pinky);
}



@media screen and (min-width:700px){

    h1 {
        font-size: 2.50rem;
    }

    p {
        font-size :1.50rem;
    }
}

@media screen and (min-width:1000px){

    h1 {
        font-size: 2.75rem;
    }

    p {
        font-size :1.75rem;
    }
}

/*

@media (prefers-color-scheme: dark) {

    body {

        background-color: var(--dark);

        color: var(--light);
    }

}

*/